<article id="PromotionsWidget" am-layout="vertical">
	<header class="widget-header">
		<div class="fold"></div>
		<h6><a ui-sref="base.promotions">View All</a>Current Promotions</h6>
	</header>
	<section class="promotions-summary" am-padding>
		<figure am-margin="bottom">
			<img ng-src="http://placehold.it/600x200"/>
		</figure>
		<h4>Free Shipping with any Invati purchase</h4>
		<p>No offer code required.</p>
		<button class="am-btn am-primary">View Promo</button>
	</section>
	<section class="promotions-summary" am-padding>
		<figure am-margin="bottom">
			<img ng-src="http://placehold.it/600x200"/>
		</figure>
		<h4>Special Offers Exclusively for you</h4>
		<p>
			FREE Invati Treatment <br/>
			Experience a Free Invati Treatment for Thinning Hair with your next Aveda haircut or shampoo style. value %15.00-$25.00.
		</p>
		<button class="am-btn am-primary">Get Offer</button>
	</section>
</article>
