<article am-layout="vertical">
	<section>
		<h5 am-padding>
			<b>Standard Order For</b><br/>
			Salon Estetica
		</h5>
		<div am-padding>
			<p>
				165 Wester Ave N <br/>
				Saint Paul, MN 55102
			</p>
			<p>
				<b>Heather McDonald</b><br/>
				Inventory Manager
			</p>
		</div>
	</section>
	<notes></notes>
	<section>
		<header>
			<div am-block="">
				<div am-block="8" am-padding>
					<h6><b>Promotions (12)</b></h6>
				</div>
				<div am-block="4">
					<button class="am-btn"><small>View</small></button>
				</div>
			</div>
		</header>
	</section>
</article>