<nav am-layout="vertical aveda-left-nav">
	<a ui-sref-active="active" ui-sref="base.dashboard"><aveda-logo data-color="#FFF"></aveda-logo></a>
	<a ui-sref-active="active" ui-sref="base.news"><i class="fa fa-newspaper-o"></i> News <recent-news></recent-news></a>
	<a ui-sref-active="active" ui-sref="base.promotions"><i class="fa fa-bullhorn"></i> Promotions</a>
	<a ui-sref-active="active"><i class="fa fa-cog"></i> My Profile</a>
	<div class="left-nav-dropdown" role="dropdown" auto-close="disabled" dropdown>
		<button type="button" dropdown-toggle>
			<i class="fa fa-chevron-up"></i>
			<i class="fa fa-archive"></i>
			My Orders
		</button>
		<nav dropdown-menu>
			<a href="">Order History</a>
			<a href="">Pending Orders</a>
			<a href="">User Orders</a>
		</nav>
	</div>
	<a ui-sref-active="active"><i class="fa fa-scissors"></i> My Salons</a>
	<a ui-sref-active="active"><i class="fa fa-user"></i> My Users</a>
	<div class="left-nav-dropdown" role="dropdown" dropdown auto-close="disabled">
		<button type="button" dropdown-toggle>
			<i class="fa fa-chevron-up"></i>
			<i class="fa fa-flag"></i>
			Submit Claim
		</button>
		<nav dropdown-menu>
			<a href="">Order Claim</a>
			<a href="">Non-Order Claim</a>
		</nav>
	</div>
	<a ui-sref-active="active"><i class="fa fa-thumbs-down"></i> Client Dislike</a>
	<a ui-sref-active="active" ng-if="application.$ocMedia('orientation:portrait')"><i class="fa fa-eye"></i> Browse</a>
</nav>
<p class="am-text-c"><small>Copyright &#169; 2015, Aveda</small></p>