<header class="aveda-blue-header">
    <nav am-layout="aveda-tabs">
        <a ui-sref-active="active" ui-sref="base.adminInternalUsers({accessLevel: 'CSR'})">
            CSRs
        </a>
        <a ui-sref-active="active" ui-sref="base.adminInternalUsers({accessLevel: 'RegionVP'})">
            Regional Vice Presidents
        </a>
        <a ui-sref-active="active" ui-sref="base.adminInternalUsers({accessLevel: 'POD'})">
            POD Directors
        </a>
        <a ui-sref-active="active" ui-sref="base.adminInternalUsers({accessLevel: 'SDP'})">
            Sales People
        </a>
    </nav>
</header>
<section am-padding>
    <button type="button" am-padding class="am-btn am-primary" ui-sref="base.adminInternalUsers.create">Create New <i class="fa fa-plus-circle"></i></button>
    <table am-layout="aveda-table" ng-show="adminInternalUsers.userList.length">
        <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th ng-if="adminInternalUsers.accessLevel == 'RegionVP'">Regions</th>
            <th ng-if="adminInternalUsers.accessLevel == 'POD'">PODs</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in adminInternalUsers.userList">
            <td><a ui-sref="base.adminInternalUsers.edit({id: user.ID})" ui-sref-opts="{reload: true}">{{user.FirstName + ' ' + user.LastName}}</a></td>
            <td>{{user.Username}}</td>
            <td>{{user.Email}}</td>
            <td ng-if="adminInternalUsers.accessLevel == 'RegionVP'">
                <span ng-repeat="region in user.UserFields.Regions">{{region.Name}}<br/></span>
            </td>
            <td ng-if="adminInternalUsers.accessLevel == 'POD'">
                <span ng-repeat="pod in user.UserFields.PODs">{{pod.Name}}<br/></span>
            </td>
        </tr>
        </tbody>
    </table>
</section>
